# Consultas básicas #
Para estas prácticas usaremos la base de datos Northwind, cuyo script de creación puede encontrar en la carpeta de prácticas.

In [1]:
USE Northwind


## Paso 1: Select ##
La forma mas sencilla de la sentencia `SELECT` es cuando recupera todas las columnas de todas las filas de una tabla

In [2]:
SELECT * from employees

## Paso 2: Filtros ##
Podemos recuperar un subconjunto de filas que cumplan con una condición dada, por ejemplo los que viven en *Londres*

In [5]:
SELECT * 
    FROM

## Paso3: Especificando columnas ##
Podemos realizar una proyección supliendo la lista de columnas que queremos recuperar, por ejemplo si nos interesa solo el nombre e ID de los empleados

In [3]:
SELECT EmployeeID, LastName, FirstName 
    from Employees

## Paso 4##
O combinar una proyección y un filtro. Obtenga los nombre y fecha de nacimiento de los empleados de *'Seattle'*

In [0]:
SELECT

## Paso 5
En la cláusula `WHERE` ponemos una expresión lógica, si evalúa a `TRUE` la fila se obtiene, si a `FALSE` no se obtiene. Obtenga los empleados de *'Seattle'* y *'London'*

In [0]:
SELECT EmployeeID, LastName, FirstName, City 
    FROM Employees
    WHERE --Condición

## Paso 6: Cálculos en el SELECT ##
En la lista de columnas se pueden incluir expresiones y llamadas a función. Por ejemplo calcule la edad de los empleados usando `BirthDate` y las funciones `DateDiff()` y `GETDATE()`

In [8]:
SELECT -- Columnas
    FROM Employees

## Paso 7: Alias ##
A las columnas podemos ponerles un alias. En la consulta anterior, la columna de la edad no tiene nombre, asígnele el nombre *Edad*
```
SELECT column_name AS alias_name
FROM table_name;
```

In [0]:
SELECT

## Paso 8: DISTINCT ##
En el siguiente código usaremos `DISTINCT` para obtener los diferentes titulos de los empleados

In [0]:
SELECT DISTINCT

## Paso 9: Ordenación ##
Podemos ordenar las filas segun los valores de una de las columnas. 
```
[ ORDER BY order_expression [ ASC | DESC ] ]

```
Recupere los datos de los empleados ordenados por nombre en forma descendente

In [0]:
SELECT 
    ORDER BY

Obtenga el nombre, apellido y ciudad de los empleados de Reino Unido menores de 60 años

In [0]:
SELECT