
# Inserción de datos (DEMO)#

## Paso 1: Es recomendable siempre incluir la lista de columnas

In [1]:
--Trabajemos con la de Pruebas
use master

IF EXISTS  
    ( 
        SELECT name FROM master.dbo.sysdatabases  
        WHERE name = 'Pruebas' 
    ) 
    DROP DATABASE Pruebas 
GO 
    
CREATE DATABASE Pruebas 
GO 
use Pruebas

Sea la tabla siguiente

In [4]:
create TABLE T1
(
    id int not NULL,
    c CHAR(1)
)

Podemos desde un programa ejecutar la siguiente sentencia de inserción

In [5]:
insert into t1 values (1, 'A')

Pero que pasa si pasado el tiempo se modifica la tabla agregando una columna

In [6]:
    ALTER TABLE t1
        add s int

Y llegamos a la misma línea en el programa en cuestión

In [7]:
insert into t1 values (2, 'B')

## Paso 2: Orden de las columnas##
Por claridad se recomienda siempre poner los nombres de columnas, que pueden ir en cualquier orden

In [9]:
insert into t1 (C, id) values ( 'B', 2)
select * from T1

## Paso 3: Valores por DEFAULT ##

In [10]:
USE northwind

INSERT shippers (companyname, phone)
VALUES ('Kenya Coffee Co.', DEFAULT)

SELECT * from Shippers

## Paso 4: Insertando datos parciales ##

In [12]:
USE northwind
INSERT shippers (companyname)
VALUES ('Fitch & Mather')

SELECT * FROM Shippers

ShipperID,CompanyName,Phone
1,Speedy Express,(503) 555-9831
2,United Package,(503) 555-3199
3,Federal Shipping,(503) 555-9931
4,Kenya Coffee Co.,NULL
5,Fitch & Mather,NULL