# Reunión de tablas #

SELECT específica columnas de múltiples tablas <BR>
JOIN especifica que tablas participan en la consulta <BR>
ON especifica la condición de la consulta<BR>
<p>Para producir un resultado de una tabla usa las llaves primarias y foráneas como parte de la condición

In [12]:
use master

IF EXISTS  
    ( 
        SELECT name FROM master.dbo.sysdatabases  
        WHERE name = 'Pruebas' 
    ) 
    DROP DATABASE Pruebas 
GO 
    
CREATE DATABASE Pruebas 
GO 
use Pruebas

In [13]:
USE PRUEBAS
CREATE TABLE Departamentos
(
    idDepartamento INT NOT NULL PRIMARY KEY,
    NombreDepto NVARCHAR (30)
)

CREATE TABLE Empleados
(
    idEmpleado INT PRIMARY KEY NOT NULL,
    NombreEmp NVARCHAR(30), 
    idDepartamento INT --FOREIGN KEY REFERENCES Departamentos(idDepartamento)
)

In [14]:
USE PRUEBAS
insert into Departamentos
    (idDepartamento, NombreDepto)
    VALUES 
    (101, 'Ventas'),
    (102, 'Mercadotecnia'),
    (103, 'Producción'),
    (104, 'Sistemas')

insert into Empleados
    (idEmpleado, NombreEmp, idDepartamento)
    VALUES 
    (301, 'Rodolfo', 101),
    (302, 'Federico', 102),
    (303, 'Enrique', null),
    (304, 'Manuel', 105)

Los diferentes tipos de `JOIN` están basados en el producto cartesiano de las tablas que reune, se puede expresar de dos formas

In [15]:
USE PRUEBAS
SELECT * from Empleados, Departamentos

In [11]:
USE PRUEBAS
SELECT * FROM Empleados
    CROSS JOIN Departamentos

## INNER JOIN

Recupera las filas de las tablas participantes donde coincidan los valores de las columnas

In [16]:
USE PRUEBAS
SELECT * FROM --tabla 1
    JOIN --tabla 2
    ON  --condición de reunión

# LEFT JOIN #

Recupera las filas de las tablas que tengan coincidencia mas las filas de la primera que no tengan coincidencia

In [0]:
USE PRUEBAS
SELECT * FROM --tabla 1
   -- reunion de la tabla 2
    ON  --condición de reunión

# RIGHT JOIN #

Recupera las filas de las tablas que tengan coincidencia mas las filas de la segunda que no tengan coincidencia

In [20]:
USE PRUEBAS
SELECT * FROM   --tabla 1
    -- reunion de la tabla 2
    ON d.idDepartamento = e.idDepartamento --condición de reunión

# FULL OUTER JOIN #

Recupera las filas de las tablas participantes aun cuando no tengan coincidencia

In [0]:
USE PRUEBAS
SELECT * FROM   --tabla 1
    -- reunion de la tabla 2
    ON d.idDepartamento = e.idDepartamento --condición de reunión

## Paso 1 #
En Northwind, recupere el nombre, precio y nombre de la categoría de los productos

In [0]:
USE northwind

SELECT

## Paso 2: Reunión de mas de 2 tablas #
En Northwind, recupere el nombre, precio, nombre de la categoría y nombre del proveedor de los productos

In [0]:
SELECT
    JOIN
    JOIN

## Paso 3: Agregando complejidad

Recupere los productos del mar que es necesario resurtir