# Consultas de agregación #


Las consutas de agregación trabajan con grupos de filas sobre las cuales se aplica una función de agregación

<table>
<tr><td>AVG(expr)<td> Devuelve el promedio de todos los valores, o sólo de los valores DISTINCT. Se ignoran los nulos.
<tr><td>COUNT(expr)<td> Devuelve el numero de valores no nulos en la expresión. Se ignoran los valores nulos. Puede utilizarse en columnas numéricas y no numéricas.  Puede utilizarse con DISTINCT.
<tr><td>COUNT(*)<td> Se cuentan todas las filas incluso las que tienen valores nulos. No puede utilizarse con DISTINCT.
<tr><td>MAX(expr)<td> Devuelve el valor máximo de la expresión. Puede utilizarse con columnas numéricas, de tipo carácter y datetime.
<tr><td>MIN(expr)<td> Devuelve el valor mínimo en la expresión. MIN, puede utilizarse con columnas numéricas, de tipo carácter y datetime, pero no con columnas tipo bit. Con columnas tipo carácter, busca el valor mínimo en la secuencia. MIN, ignora los nulos.
<tr><td>SUM(expr)<td> Devuelve la suma de todos los valores,  o solo de los valores DISTINCT. Se ignoran los nulos y sólo puede utilizarse en columnas numéricas.

In [2]:
use northwind

## Paso 1: Promedio ## 
Para obtener el promedio de un grupo utilizamos la función  `AVG()`. 
<p>Recupere el precio promedio de los productos

In [13]:
select  AVG(UnitPrice) as PrecioPromedio
    from products

Si queremos el precio promedio de los productos dentro de cada categoría usamos la cláusula `GROUP BY`

In [15]:
select  CategoryID, AVG(UnitPrice) as PrecioPromedio
    from products
    GROUP by CategoryID

## Paso 2: Contando ##
Determine cuántos productos se manejan por categoría

In [16]:
select  
    from 
    GROUP by

## Paso 3: Mayor ##

Obtenga el precio mas bajo y mas alto que se maneja

## Paso 4: Suma ##
Obtenga el importe total de fletes del día 10 de junio de 1997

In [21]:
SELECT Freight
    FROM orders

## Paso 5 ##
Obtenga el total de ventas del día 10 de junio de 1997

In [22]:
SELECT *  
    FROM [Order Details]

## Paso 6 ##
Obtenga el total de ventas por producto del mes de junio de 1997

In [23]:
SELECT * from Products
    JOIN [Order Details]

## Paso 7 ##
Obtenga el importe de ventas por categoría por mes del año 1997

## Paso 8##
Obtenga el producto mas caro