# Jugando #

Determine en donde pasará San Valentín los empleados de Northwind

In [ ]:
use northwind
DECLARE @mesactividad 
    as TABLE ( 
        mes int, 
        actividad varchar(40) 
        )

DECLARE @inicialpersona 
    as TABLE ( 
        inicial CHAR(1), 
        persona varchar(40) 
        )

INSERT INTO  @mesactividad
    VALUES
        (1, 'Jugando maincra con'),
        (2, 'Explorando el Amazonas con'),
        (3, 'Bañando los perros de'),
        (4, 'Perseguido por'),
        (5, 'En la cárcel por matar a'),
        (6, 'Pintando la casa de'),
        (7, 'Contando chistes con'),
        (8, 'Enseñando Java a'),
        (9, 'En un yate con'),
        (10, 'En el hospital cuidando a'), 
        (11, 'Comiendo con'),
        (12, 'Platicando con')

insert into @inicialpersona
    VALUES
        ('a', 'CR7'),
        ('b', 'Shakira'),
        ('c', 'AuronPlay'),
        ('d', 'Scarlett Johanson'),
        ('e', 'Jessica Jones'),
        ('f', 'Lagertha'),
        ('g', 'Yuya'), 
        ('h', 'Sheldon Cooper'),
        ('i', 'Michael Jordan'),
        ('j', 'Carlos Slim'),
        ('k', 'Donald Trump'),
        ('l', 'Neil deGrasse Tyson'),
        ('m', 'Indiana Jones'),
        ('n', 'Javier Santaolalla'), 
        ('o', 'Henry Cavill'), 
        ('p', 'Beyoncé'),
        ('q', 'Vinton Cerf'),
        ('r', 'Robert Downey Jr.'),
        ('s', 'Hulk'),
        ('t', 'la india Yuriria'),
        ('u', 'Bárbara de Regil'),
        ('v', 'Tokio'),
        ('w', 'Barney Stinson'),
        ('x', 'Chumel Torres'),
        ('y', 'Tulio Treviño'),
        ('z', 'Goku')