In [ ]:
use pruebas
GO

create table T1
(
    id int, 
    c  char(1)
)


create table T2
(
    num int, 
    valor  char(1)
)

INSERT T1 (id, c)
    VALUES
    (1, 'A'),
    (2, 'B'),
    (3, 'A'),
    (4, 'C');


INSERT T2 (num, valor)
    VALUES
    (1, 'C'),
    (3, 'D'),
    (3, 'A'),
    (5, 'F');

# Operadores de Conjuntos #
## 1. UNION ##
Obtener el conjunto de todas las filas de T1 y unirlas al conjunto de las filas de T2

### Opción ALL ###

¿Cual es el efecto de la opcion ALL en la UNION? Realice la misma consulta pero utilice UNION ALL

**Respuesta**:

### Tuplas como elementos###
Realice la misma consulta pero ahora recupere solo las columnas numericas de ambas tablas ¿ Que sucede y por qué ?

**Respuesta**:

## 2. INTERSECT ##
Obtenga la intersección de ambas tablas

## 3. EXCEPT ##
### 3.1 ###
Obtenga la diferencia entre T1 y T2

### 3.2### 
Obtenga los numeros que están en T1 pero no en T2