# Red Social #

In [1]:
--Como prerequisito crear la BD Social
use master

IF EXISTS  
    ( 
        SELECT name FROM master.dbo.sysdatabases  
        WHERE name = 'social_AER45Ty' 
    ) 
    DROP DATABASE social_AER45Ty 
GO
CREATE DATABASE social_AER45Ty    
GO 
use social_AER45Ty
GO

create table Highschooler(ID int, name char(20), grade int);
create table Friend(ID1 int, ID2 int);
create table Likes(ID1 int, ID2 int);
go

/* Populate the tables with our data */
insert into Highschooler values (1510, 'Jordan', 9);
insert into Highschooler values (1689, 'Gabriel', 9);
insert into Highschooler values (1381, 'Tiffany', 9);
insert into Highschooler values (1709, 'Cassandra', 9);
insert into Highschooler values (1101, 'Haley', 10);
insert into Highschooler values (1782, 'Andrew', 10);
insert into Highschooler values (1468, 'Kris', 10);
insert into Highschooler values (1641, 'Brittany', 10);
insert into Highschooler values (1247, 'Alexis', 11);
insert into Highschooler values (1316, 'Austin', 11);
insert into Highschooler values (1911, 'Gabriel', 11);
insert into Highschooler values (1501, 'Jessica', 11);
insert into Highschooler values (1304, 'Jordan', 12);
insert into Highschooler values (1025, 'John', 12);
insert into Highschooler values (1934, 'Kyle', 12);
insert into Highschooler values (1661, 'Logan', 12);

insert into Friend values (1510, 1381);
insert into Friend values (1510, 1689);
insert into Friend values (1689, 1709);
insert into Friend values (1381, 1247);
insert into Friend values (1709, 1247);
insert into Friend values (1689, 1782);
insert into Friend values (1782, 1468);
insert into Friend values (1782, 1316);
insert into Friend values (1782, 1304);
insert into Friend values (1468, 1101);
insert into Friend values (1468, 1641);
insert into Friend values (1101, 1641);
insert into Friend values (1247, 1911);
insert into Friend values (1247, 1501);
insert into Friend values (1911, 1501);
insert into Friend values (1501, 1934);
insert into Friend values (1316, 1934);
insert into Friend values (1934, 1304);
insert into Friend values (1304, 1661);
insert into Friend values (1661, 1025);
insert into Friend select ID2, ID1 from Friend;

insert into Likes values(1689, 1709);
insert into Likes values(1709, 1689);
insert into Likes values(1782, 1709);
insert into Likes values(1911, 1247);
insert into Likes values(1247, 1468);
insert into Likes values(1641, 1468);
insert into Likes values(1316, 1304);
insert into Likes values(1501, 1934);
insert into Likes values(1934, 1501);
insert into Likes values(1025, 1101);

## SQL Social-Network Query Exercises ##

Students at your hometown high school have decided to organize their social network using databases. So far, they have collected information about sixteen students in four grades, 9-12. Here's the schema: 

Highschooler ( ID, name, grade )
English: There is a high school student with unique ID and a given first name in a certain grade.

Friend ( ID1, ID2 )
English: The student with ID1 is friends with the student with ID2. Friendship is mutual, so if (123, 456) is in the Friend table, so is (456, 123). 

Likes ( ID1, ID2 )
English: The student with ID1 likes the student with ID2. Liking someone is not necessarily mutual, so if (123, 456) is in the Likes table, there is no guarantee that (456, 123) is also present.

For your convenience, here is a graph showing the various connections between the students in our database. 9th graders are blue, 10th graders are green, 11th graders are yellow, and 12th graders are purple. Undirected black edges indicate friendships, and directed red edges indicate that one student likes another student.

<img src='./social.png'> [Red Social](social.png)

# Basic SELECT, Table Variables, Set Operators #


## 1.  Friends of Gabes ## 
Find the names of all students who are friends with someone named Gabriel.

In [1]:
select h1.name, h2.name 
  from friend 
  inner join highschooler h1 on friend.id1=h1.id 
  inner join highschooler h2 on friend.id2=h2.id
where h1.name = 'Gabriel'

name,name
Gabriel,Jordan
Gabriel,Cassandra
Gabriel,Andrew
Gabriel,Alexis
Gabriel,Jessica

## 2.  Like, scandalous! ##
For every student who likes someone 2 or more grades below their own grade, return that student's name and grade, and the name and grade of the student they like.

## 3.  Should totally be dating##
For every pair of students who both like each other, return the name and grade of both students. Include each pair only once.

## 4.  Alas ## 
For every situation where student A likes student B, but student B likes a different student C, return the names and grades of A, B, and C.

## 5.  Need more intel##
Find all students who do not appear in the Likes table (as a student who likes or is liked) and return their names and grades. Sort by grade, then by name within each grade. (Hint: Without subqueries, you will need to use the EXCEPT operator.)

# Subqueries in WHERE, FROM, SELECT #

## 6.  Have a chance## 
For every situation where student A likes student B, but we have no information about whom B likes (that is, B does not appear as an ID1 in the Likes table), return A and B's names and grades.

## 7.  Narrow-minded ##
Find names and grades of students who only have friends in the same grade. Return the result sorted by grade, then by name within each grade.

## 8.  Broad-minded## 
Find names and grades of students who only have friends in different grades.

## 9.  Could you introduce me? ##
For each student A who likes a student B where the two are not friends, find if they have a friend C in common. For all such trios, return the name and grade of A, B, and C.

# Aggregation #
## 10.  Duplication## 

Find the difference between the number of students in the school and the number of different first names.

## 11.  Average affability## 
What is the average number of friends per student?

## 12.  Social circle ## 
Find the number of students who are either friends with Cassandra or are friends of friends of Cassandra. Do not count Cassandra, even though technically she is a friend of a friend.

## 13.  It must be their brains, not their looks##
Find the name and grade of all students who are liked by more than one other student.

## 14.  Most gregarious##
Find the name and grade of the student(s) with the greatest number of friends.

# Data Modification Statements#

Each of the questions in this section (except the first) assumes the database is in the state after the modifications from the previous question. If you find you've made a mistake or want to restart, just reload the schema and data from scratch.

## 15.  End of the school year## 
Increment the year of all students by 1, such that all 9th graders become 10th graders, all 10th graders become 11th graders, and so on. To check your modification, find the names of all students who are in a grade higher than 12 (we'll deal with them later).

## 16.  Graduating seniors## 
After the previous update, some students ended up in 13th grade. They're actually graduating, so remove all tuples in Highschooler with a grade higher than 12. To check your modification, find the total number of students remaining in the Highschooler table.

## 17.  Now clean up this mess## 
While friendships may continue after graduation, we can't model them for students no longer in our database. Remove all tuples in Friend and all tuples in Likes that refer to nonexistent students. (This will require two separate commands.) To check your modification, find the names of all students whom Austin likes or who are friends with Austin.

## 18. Summertime ## 
Now that they're on vacation, our students have more time to spend with one another. As a result, their social circles have expanded: For all cases where A is friends with B, and B is friends with C, add a new friendship for the pair A and C. (Do not add duplicate friendships, friendships that already exist, or friendships with oneself.) To check your modification, for the now 10th-grader Jordan, return the names of all her friends.