Para crear la base de datos usaremos la sentencia CREATE DATABASE con la sintaxis básica. 

CREATE DATABASE database_name

In [1]:
IF NOT EXISTS 
   (
     SELECT name FROM master.dbo.sysdatabases 
     WHERE name = 'Jafvon'
    )
CREATE DATABASE Jafvon

Antes de poder crear las tablas necesitamos seleccionar la base de datos que acabamos de crear. Para esto usamos la sentencia USE

In [2]:
USE  Jafvon

Para crear las tablas usaremos la sentencia CREATE TABLE. Vamos a crear la tabla de productos

In [3]:
CREATE TABLE productos
(
    clave int, 
    nombre NVARCHAR(50),
    descripcion NVARCHAR (255),
    precioPublico numeric(10,3),
    precioDistribuidor numeric(10,3),
    costo numeric(10,3),
)

Complete el código para crear la tabla categorías con una columna para la clave entera,

In [4]:
CREATE
(
    clave int, 
    nombre varchar   
)

: Msg 102, Level 15, State 1, Line 2
Sintaxis incorrecta cerca de '('.

Para agregar filas a la tabla usemos la sentencia INSERT, especificando el nombre de las columnas y los valores para ellas

In [5]:
INSERT productos (clave, nombre, descripcion, precioPublico, precioDistribuidor, costo)
    VALUES ( 1, 'New Skin', 'Jabón Exfoliante',  99.95, 67.45, 45.15)

Podemos verificar que la fila ha sido insertada con la sentencia SELECT

In [6]:
SELECT * from productos

clave,nombre,descripcion,precioPublico,precioDistribuidor,costo
1,New Skin,Jabón Exfoliante,99.950,67.450,45.150

Podemos agregar varias filas a la vez al proveer varios conjuntos de valores a la cláusula VALUES separándolos por comas

In [13]:
INSERT productos (clave, nombre, descripcion, precioPublico, precioDistribuidor, costo)
    VALUES ( 2, 'White & Shining', 'Pasta dental que limpia, blanquea y protege tus dientes',  89.75, 47.87, 35.75),
           ( 3, 'Camisa Winnie Pooh', 'CamisaWinnie Pooh', 155.99, 130.20, 100.00)

Verificamos que se agregaron 2 nuevas filas

In [14]:
SELECT * from productos

Podemos eliminar filas con la sentencia DELETE, en la cláusula WHERE especificamos cuales eliminar

In [9]:
DELETE productos
    WHERE clave = 2

¿Que sucede si no incluyo la cláusula WHERE?

In [10]:
DELETE productos

Respuesta: