# Enteros (INT) 
Cree una base de datos ` prueba` y dentro de ella una tabla ` T1` con una columna ` numero` de tipo entero

In [1]:
CREATE ??? ???

GO

--??? seleccionar la base de datos recién creada

--Crear la tabla especificada

Inserte filas en la tabla ` T1` con los valores enteros 100, 200, 150

In [2]:
--insert into ????
select * from T1

Ahora inserte una fila con los valores reales 99.99, 99.05

In [3]:
insert into ????
select * from T1

**¿Que sucedió?:**

# Cadenas (VARCHAR)

Cree ahora una tabla `T2` con una columna `cadena` de tipo `CHAR(10)` y otra `cadenavar` de tipo `VARCHAR(10)`. Luego inserte los valores 'Corto', 'Cadena larga' para ambas columnas.

In [2]:
--CREATE ?? ??

INSERT into T2 values ('Corto', 'Corto'), ('Cadena larga', 'Cadena larga' )

**¿Que sucedió?**


Corrija e intente de nuevo

¿Cuanto espacio de almacenamiento usa cada dato?

In [5]:
SELECT len(cadena) as 'Longitud de cadena', DATALENGTH(cadena) as 'Espacio usado por cadena', 
       len(cadenavar) as 'Longitud de cadenavar', DATALENGTH(cadenavar) as 'Espacio usado por cadenavar'
    from T2

Longitud de cadena,Espacio usado por cadena,Longitud de cadenavar,Espacio usado por cadenavar
5,10,5,5
10,10,10,10

# REAL

Usemos ahora el tipo de dato `REAL`. Cree una tabla `T3` con una columna `precio` de tipo `REAL`. Agregue 10 filas con el valor 0.1

In [7]:
-- Crear la tabla

select sum(precio) from T3

**¿Que resultado se obtiene si sumamos los valores de la columna precio?:**


***
**Por que?:** 
***

# Moneda (Numeric) #

Cree una tabla `T4` con una columna `precio` de tipo `numeric(10,4)`. Agregue 10 filas con el valor 0.1

In [0]:
-- Crear la tabla

select sum(precio) from T4

**¿Que resultado se obtiene ahora si sumamos los valores de la columna precio?:**


***
**Por que?:** 
***