# Check Constraints

Una restricción `CHECK` permite especificar una condición sobre el valor de una fila.
La sintaxis es:

``` 
CREATE TABLE table_name (
  column1 datatype [ NULL | NOT NULL ],
  column2 datatype [ NULL | NOT NULL ],

  ...

  CONSTRAINT constraint_name
    CHECK [ NOT FOR REPLICATION ] (column_name condition)

);
```
*table_name*       El nombre de la tabla a la cual le agregaremos la restricción `CHECK`.<br>
*constraint_name* El nombre que le asignaremos a la restricción. <br>
*column_name* La columna a la cual se le aplica la restricción.<br>
*condition* La condicion que se debe cumplir.

In [1]:
--Para dejar en blanco la base de datos prueba ejecute este bloque
--Ejecute este bloque(colapsado) para usarla 

IF EXISTS 
   (
     SELECT name FROM master.dbo.sysdatabases 
     WHERE name = 'Pruebas'
    )
    DROP DATABASE Pruebas
GO

CREATE DATABASE Pruebas
GO

use Pruebas

Por ejemplo el salario de un empleado debe ser mayor a 0, por lo tanto a esa columna le ponemos esta restricción

In [2]:
CREATE TABLE Empleados
( 
    idEmpleado INT NOT NULL,
    apellido VARCHAR(50) NOT NULL,
    nombre VARCHAR(50),
    salario numeric(10,3),
    CONSTRAINT check_salario
        CHECK (salario > 0)
);

¿Que pasa si agregamos a un empleado con un salario menor o igual a cero?
_Respuesta _

In [4]:
INSERT  empleados
    (idEmpleado,  nombre, apellido,salario)
    VALUES (1, 'Rosario', 'Uzárraga', 0 )

: Msg 547, Level 16, State 0, Line 1
Instrucción INSERT en conflicto con la restricción CHECK 'check_salario'. El conflicto ha aparecido en la base de datos 'Pruebas', tabla 'dbo.Empleados', column 'salario'.

Agregue una restricción para que la columna sexo solo permita los valores 'M' o 'F'

In [0]:
ALTER TABLE

In [0]:
-- Agregue una fila que cumpla la condición

In [0]:
-- Agregue una fila que NO cumpla la condición

Agregue dos columnas: `nacimiento` y `contratación` donde la fecha de contratación no debe ser anterior al nacimiento

In [0]:
ALTER TABLE

In [0]:
-- Agregue una fila que cumpla la condición

In [0]:
-- Agregue una fila que NO cumpla la condición

La fecha de nacimiento del empleado no puede ser posterior al la fecha actual. Utilice la funcion del sistema `GETDATE()` para definir la condición.

In [0]:
-- Agregue una fila que cumpla la condición

In [0]:
-- Agregue una fila que NO cumpla la condición

De hecho la empresa no puede contratar a menores de edad. Redefina la condición, eliminando la anterior y creandola otra vez

In [0]:
-- Agregue una fila que cumpla la condición

In [0]:
-- Agregue una fila que NO cumpla la condición