# Identidad

Sea la entidad Empleado con atributos Nombre, Apellido, RFC, CURP, NSS y Nacimiento. Como RFC y CURP tienen valores únicos, son nuestras llaves candidatas. Elijamos una de ellas como llave primaria, digamos RFC.

In [3]:
--Para dejar en blanco la base de datos PRUEBA ejecute este bloque
--Ejecute este bloque(colapsado) para usarla 

IF EXISTS 
   (
     SELECT name FROM master.dbo.sysdatabases 
     WHERE name = 'Pruebas'
    )
    DROP DATABASE Pruebas
GO

CREATE DATABASE Pruebas
GO

use Pruebas

## Paso1 ##
Cree la tabla `Empleados` sin llave primaria

In [4]:
CREATE TABLE Empleados
(
    Nombre nvarchar(30), 
    Apellido nvarchar(30), 
    RFC CHAR(13), 
    CURP CHAR(18), 
    NSS CHAR(20),
    Nacimiento DATE
)

¿Que sucede si intento agregar dos veces el mismo empleado? (Ejecute dos veces o mas el siguiente bloque)

**Respuesta:**

In [16]:
--Agregamos un empleado
INSERT into Empleados (Nombre, Apellido, RFC, CURP, NSS, Nacimiento)
    VALUES ('Juan', 'Salinas García', 'SAGJ680701HYB', 'SAGJ6807010000000', '1234567', '19680701' )
SELECT * from Empleados

**¡ATENCION!**

Elimine todas las filas de la tabla antes de proseguir

In [0]:
DELETE

## Paso 2 ##
Ahora agreguemos una restricción de llave primaria con la columna `RFC`. Recuerde que una llave primaria no debe permitir nulos, así que antes debemos añadir también la restriccion `NOT NULL` a la columna.

In [13]:
ALTER TABLE Empleados
    ALTER COLUMN

ALTER 
    ADD CONSTRAINT

Intente agregar ahora dos veces al mismo empleado ¿Que sucede?
**Respuesta:**

In [17]:
INSERT into Empleados (Nombre, Apellido, RFC, CURP, NSS, Nacimiento)
    VALUES ('Juan', 'Salinas García', 'SAGJ680701HYB', 'SAGJ6807010000000', '1234567', '19680701' )
SELECT * from Empleados

## Paso 3##
Para mostrar los indices de una tabla usamos `sp_helpindex [ @objname = ] 'name' `

In [14]:
--Muestre los indices de la tabla Empleados

## Paso 4 #

Supongamos que cambiamos de idea y queremos que la llave primaria sea `CURP`. Para eso tenemos que eliminar la propiedad `PRIMARY KEY` de `RFC` con `ALTER TABLE ... DROP CONSTRAINT ` y luego ponerla en `CURP`

In [0]:
ALTER

¿Se puede agregar ahora un empleado con CURP unico pero RFC repetido?

In [0]:
INSERT

¿Como lo podemos evitar? 

**Respuesta**

# Unique #

Agreguemos entonces una restricción `UNIQUE` a la tabla `Empleados` sobre la columna `RFC`

In [0]:
ALTER TABLE 
    ADD CONSTRAINT

Intente ahora agregar un RFC repetido

Revise los indices de la tabla Empleados