# Integridad Referencial

In [4]:
-- Para dejar en blanco la base de datos PRUEBA ejecute este bloque 
-- Ejecute este bloque(colapsado) para usarla  
use master

IF EXISTS  
    ( 
        SELECT name FROM master.dbo.sysdatabases  
        WHERE name = 'Pruebas' 
    ) 
    ALTER DATABASE pruebas SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE Pruebas 
GO 
    
CREATE DATABASE Pruebas 
GO 
use Pruebas

## Paso 1 ##
Sea una entidad *Empleado* que *trabaja* en un *Departamento*

In [5]:
CREATE TABLE Empleados
(
    Nombre nvarchar(30), 
    Apellido nvarchar(30),
    RFC CHAR(13), 
    CURP CHAR(18) not null primary key,
    NSS CHAR(20),
    Nacimiento DATE,
    Trabaja CHAR(3) --Lo agregamos para la relación trabaja
)

CREATE TABLE Departamentos
(
    idDepartamento CHAR(3),
    nombre NVARCHAR(30),
    descripcion NVARCHAR(200),
    mision NVARCHAR(200)
)

INSERT into Departamentos (idDepartamento, nombre) 
    values  ('VEN', 'Ventas' ), 
            ('MKT', 'Mercadotecnia'),
            ('PRO', 'Producción')

INSERT into empleados (CURP, Apellido, Nombre, Trabaja)
    VALUES ( 'LOEJ880305RESHS000', 'Lopez Espericueta', 'Jose', 'MKT')
INSERT into empleados (CURP, Apellido, Nombre, Trabaja)
    VALUES ( 'LAEJ880305RESHS000', 'Larrea Espericueta', 'Jose', 'MKT')
INSERT into empleados (CURP, Apellido, Nombre, Trabaja)
    VALUES ( 'LOTJ880305RESHS000', 'Lopez Tarriba', 'Jose', 'PRO')
INSERT into empleados (CURP, Apellido, Nombre, Trabaja)
    VALUES ( 'LOEO880305RESHS000', 'Lopez Omar', 'Jose', 'VEN')

Al momento de asignar un empleado a un departamento ¿ puede hacerse aunque que este no exista ?

In [8]:
INSERT into empleados (CURP, Apellido, Nombre, Trabaja)
    VALUES ( 'VICJ880305RESHS000', 'Vizcarra Camacho', 'Jaime', 'TIC')
SELECT * from Empleados

## Paso 2##

La integridad referencial evita esto. Agreguemos una restriccion de llave foránea a la columna `Trabaja` de la tabla `Empleados`, para definirlo usamos la clausula `CONSTRAINT constraint_name FOREIGN KEY` que puede pertenecer a la sentencia `CREATE TABLE` o a `ALTER TABLE`
```
[ FOREIGN KEY ]
        REFERENCES [ schema_name . ] referenced_table_name [ ( ref_column ) ]
        [ ON DELETE { NO ACTION | CASCADE | SET NULL | SET DEFAULT } ]
        [ ON UPDATE { NO ACTION | CASCADE | SET NULL | SET DEFAULT } ]
        [ NOT FOR REPLICATION ]
```

In [9]:
-- Primero eliminamos la referencia al departamento inexistente
Update Empleados    
    set Trabaja = null
    where Trabaja = 'TIC'

In [0]:
ALTER TABLE Empleados
    ADD CONSTRAINT

Intente agregar nuevamente un empleado con un departamento inexistente

In [0]:
INSERT into empleados (CURP, Apellido, Nombre, Trabaja)
--Valores
SELECT * from Empleados

## Paso 3: Eliminando referidos##

Asigne los empleados sin departamento al de *Ventas*

In [0]:
-- UPDATE

¿Que sucede si quiero eliminar el departamento *Ventas*?

**Respuesta**

Modifiquemos la restricción para que ahora al eliminar un *Departamento* elimine también a los empleados asignados a el

In [0]:
--Eliminar la restricción de llave foránea
ALTER TABLE DROP CONSTRAINT 

--No se olvide del GO

-- Agregamos la clausula ON DELETE y ON UPDATE
ALTER TABLE

ON DELETE CASCADE

¿Que sucede ahora si intenta eliminar el departamento *Ventas* ? 

**Respuesta**

## Paso 4 ##

Modifiquemos el comportamiento de la restricción para que al eliminar un departamento los empleados queden sin uno asignado ( `SET NULL`)
¿Es necesario eliminar la restricción y volverla a crear con el nuevo comportamiento ?

**Respuesta**

In [0]:

ALTER

Pruebe el comportamiento eliminando un departamento y muestre como queda el empleado

## Comentarios a la práctica##
<Su comentario aquí>